*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
ul{
    list-style: none;
}
.footer{
    background-color: #ffffff;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #0a142f;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.email-text p a{
    color: #0a142f;
    text-decoration-color: #0a142f;
}
.copyright{
    margin-top: 15px;
    font-size: 10px;
    text-align: inherit;
    font-weight: lighter;
    color: #0a142f;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    color: #0a142f;
    text-decoration: none;
    font-weight: 300;
    color: #777777;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #0a142f;
    padding-left: 8px;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
