# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
/.idea/sonarlint/issuestore/1/d/1d8a41bb6e15ab1b64e17624638a508516954df1
/.idea/sonarlint/securityhotspotstore/1/d/1d8a41bb6e15ab1b64e17624638a508516954df1
/.idea/sonarlint/issuestore/6/c/6c41c68c13207490bebfc2cccac5928fd71c84cf
/.idea/sonarlint/securityhotspotstore/6/c/6c41c68c13207490bebfc2cccac5928fd71c84cf
/.idea/sonarlint/issuestore/7/0/705407db1ccc76d70928426aa9e1a3258af04caa
/.idea/sonarlint/securityhotspotstore/7/0/705407db1ccc76d70928426aa9e1a3258af04caa
/.idea/sonarlint/issuestore/d/4/d4fccf82a94dbf17f9f5843a5d7a838d1c17b6da
/.idea/sonarlint/securityhotspotstore/d/4/d4fccf82a94dbf17f9f5843a5d7a838d1c17b6da
/.idea/sonarlint/issuestore/f/a/fa288d1472d29beccb489a676f68739ad365fc47
/.idea/sonarlint/securityhotspotstore/f/a/fa288d1472d29beccb489a676f68739ad365fc47
