<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="#"><img src="../images/logo.svg" alt=""></a>
            </div>
            <button class="toggle" aria-controls="nav-links" aria-expanded="false">
                <span></span>
            </button>
            <ul data-visible="false" class="nav-links">
                <li><a href="#">About us</a></li>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Book clubs</a></li>
                <li><a href="#">Profile</a></li>
                <li><i class="bi bi-bell"></i></li>
            </ul>
        </div>
    </nav>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="../js/trackpage.js"></script>
</body>
</html>

